/*
#a #b #c
 */
#a .hidden{display:none;}
#imagepreview{max-width:90vw;}

.p30{padding:0 30px;}
.nowrap{wrap:none}
button,.pointer,.label,.zoom{cursor:pointer;}
.zoom:hover{opacity:0.5}
#a .modal-dialog{max-width:99vw;width: fit-content;}
.hidden{display:none;}
.svgpointer{cursor:pointer}
.heremap{height:350px}
#dashCap{
    display:none;
    position:fixed;top:0;left:0;z-index:-1;overflow:hidden;/*width:100vw;height:100vh;*/
}
#dashCap canvas{width:100%;height:100%;}
.fullScreen{
    position:fixed;top:0;left:0;width:100vw;height:100vh;z-index:-2;opacity:0;
}
.t1300{width:100%}
.glider-contain{max-width: 95vw;}
.glider-slide{text-align: center;}.glider-next, .glider-prev{top: 14%;} .gl1{width:50%;margin:auto;} .glider-prev{left: 0px} .glider-next{right:0px;}
.gl1_{max-width: 50vw;}
.td3 span{display:block;text-align: right !important}

@media (max-width: 1300px){
    .gl1_{max-width: 90vw;}
    .p30{padding:0}
    .t1300 nav{display:inline-block;}
    .t1300 tr{display:block}
    .t1300 td{display:block;width:100%;margin:auto;text-align:center;}
    .td3 span{display:block;text-align: center !important;}
    /*.glider-next{right:-23px;}*/
}

.tw100{width:100%;margin:auto;}
.departement_ .tx-color-03{font-size:.8rem;text-transform:uppercase;font-weight:700;color:#001737;}
.res2chlist thead,.res2chlist tfoot{background:#EEE}
.res2chlist tr:nth-child(even){background:#EEE}

.classement tr.red td:nth-child(5) {
     color: rgba(220,53,69,0.99);
     font-weight: 700;
 }
.classement tr td:nth-child(5) {
    color: #10b759;
}

#a .nav-aside .nav-link:hover,#a .nav-aside .nav-link:hover svg {color: #ff0000;}
.sb{color: #fff;background-color: #0168fa;border-color: #0168fa;padding: 0.3rem;border-radius: 0.3rem;}

.linge1 {
    background: linear-gradient(90deg, rgba(145, 145, 145, 1) 0%, rgba(226, 226, 226, 1) 46%, rgba(255, 255, 255, 0) 100%);
}
.linge2{background:linear-gradient(90deg, rgba(145,145,145,1) 0%, rgba(226,226,226,1) 5%, rgba(255,255,255,0) 100%);
}
.b{font-weight:bold;}

.H_ib_body .H_ib_content{line-height:14px;font-size:12px;margin:12px 12px 12px;   }

.dataTables_filter label{
    position: relative;
    margin-top: -60px;
}
